body {
  margin: 0;
  border: 0;
  padding: 0;
}

.root {
  height: 100vh;
}

.image {
  background: url("https://source.unsplash.com/random");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

button {
  margin: 24px 0 16px;
}
